.container{
    box-shadow: 1px 0px 20px #3d3d3c;
}
/*--------------- start header ------------ */
header .container{
    padding: 60px 50px;
    background: #3d3d3c;
}
header .container .col-sm-7{
    
}
header .container .col-sm-5{
    
}
header h1{
    text-align: right;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 55px;
    margin-right: 100px;
}
header p{
    text-align: right;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-left: 75px;
    margin-right: 100px;
    
}
header img{
    width: 45%;
    margin-left: 140px;
}

/*--------------- end header ------------ */

/*--------------- start details ------------ */
#details .col-sm-4{
    background: #3d3d3c;
    padding-right: 0;
    padding-bottom: 60px;
}
#details h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    padding: 7px 50px;
    box-shadow: 1px 5px 16px #232223;
    color: #fff;
}

    /*--------------- start contact ------------ */

#contact h3{
    background: #49bbbd;
    margin-top: 0px;
}
#contact h3::after{
    position: absolute;
    content: "";
    width: 25px;
    height: 30px;
    margin-left: -129px;
    margin-top: 29px;
    background: #49bbbd;
    box-shadow: 5px 7px 10px #232223;
}
#contact p{
    font-size: 14px;
    max-width: 150px;
    color: #fff;
}
#contact a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
#contact .single_line p{
    margin-top: 15px;
    margin-bottom: 0;
}
#contact .row {
    margin-right: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
}
#contact .fa{
    font-size: 30px;
    background: #fff;
    border-radius: 55%;
    padding: 10px 12px;
}

    /*--------------- end contact ------------ */

    /*--------------- start hobbies ------------ */

#hobbies{
}
#hobbies h3{
    background: #f19135;
}
#hobbies h3::after{
    position: absolute;
    content: "";
    width: 25px;
    height: 30px;
    margin-left: -120px;
    margin-top: 29px;
    background: #f19135;
    box-shadow: 5px 7px 10px #232223;
}
#hobbies ul{
    padding-left: 45px;
    margin-top: 20px;
}
#hobbies ul li{
    list-style: none;
    display: inline-block;
}
#hobbies .fa{
    color: #fff;
    font-size: 40px;
    padding: 10px 15px;
}

    /*--------------- end hobbies ------------ */

    /*--------------- start languages -----------*/
#languages{
    
}
#languages h3{
    background: #b4d173;
    margin-top: 40px;
}
#languages h3::after{
    position: absolute;
    content: "";
    width: 25px;
    height: 30px;
    margin-left: -163px;
    margin-top: 29px;
    background: #b4d173;
    box-shadow: 5px 7px 10px #232223;
}
#languages .scale ul{
    padding-left: 0;
    margin-top: 0;
}
#languages .scale ul li{
    list-style: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 5px;
}
#languages .scale .active{
    background: #fff !important;
}
#languages .scale{
    padding-left: 63px;
}
#languages .scale h4{
    color: #fff;
    margin-bottom: 5px;
}
#languages .scale{
    
}

    /*--------------- end languages ------------ */


    /*--------------- start skills -----------*/
#skills{
    
}
#skills h3{
    background: #eee088;
    margin-top: 40px;
}
#skills h3::after{
    position: absolute;
    content: "";
    width: 25px;
    height: 30px;
    margin-left: -97px;
    margin-top: 29px;
    background: #eee088;
    box-shadow: 5px 7px 10px #232223;
}
#skills .scale ul{
    padding-left: 0;
    margin-top: 0;
}
#skills .scale ul li{
    list-style: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 5px;
}
#skills .scale .active{
    background: #fff !important;
}
#skills .scale{
    padding-left: 63px;
}
#skills .scale h4{
    color: #fff;
    margin-bottom: 5px;
}
#skills .scale{
    
}

    /*--------------- end skills ------------ */

    /*--------------- start about ------------ */

#about{
    padding: 20px 35px 0px 35px;
}
#about h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
#about p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    max-width: 650px;
    color: #575756;
}

    /*--------------- end about ------------ */

    /*--------------- start education ------------ */

#education{
    padding: 20px 35px 0px 35px;
}
#education h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
#education h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #575756;
}
#education h4 span{
    color: #49bbbd;
}
#education p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    max-width: 650px;
    color: #575756;
    margin-bottom: 35px;
}

    /*--------------- end education ------------ */

    /*--------------- start experience ------------ */

#experience{
    padding: 0px 35px 0px 35px;
}
#experience h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
#experience h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #575756;
}
#experience h4 span{
    color: #b4d173;
}
#experience p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    max-width: 650px;
    color: #575756;
    margin-bottom: 35px;
}

    /*--------------- end experience ------------ */

    /*--------------- start education ------------ */

#education2{
    padding: 0px 35px 0px 35px;
}
#education2 h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
#education2 h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #575756;
}
#education2 h4 span{
    color: #f19135;
}
#education2 p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    max-width: 650px;
    color: #575756;
    margin-bottom: 35px;
}

    /*--------------- end education ------------ */

/*--------------- end details ------------ */


